#top
{
	position: absolute;
    width: 65%;
    height: 100px;
    background-color: #262626;
    box-sizing: border-box;
    margin: auto;
}

#title, .logo
{
	display: inline-block;
	position: absolute;
	color: #eeeeee;
}

#title
{
	margin-left: 50px;
	margin-top: 35px;
	text-transform: uppercase;
	font-family: 'DidotBold';
	font-size: 1.7em;
	letter-spacing: 0.2em;
}

i
{
	font-family: 'DidotItalic';
}

.logo
{
	  float: left;
    margin-left: 10px;
    position: relative;
    height: 75px;
    margin-top: 10px;
}

.logo-menu{
	height: 20px;
  position: absolute;
}

#menu-top{
	float: right;
	width: 900px;
	display: inline-block;

}

#list-top{
	width: 950px;
  margin-left: 50px;
	float: left;
	list-style: none;
	list-style-type: none;
	text-align: center;
	color: white;
}

.first-menu{
	margin-left: -4px;
	padding: 30px;
  height: 40px;
	display: inline-block;
	text-align: center;
	border-left: 1px solid #2f2f2f;
	vertical-align: top;
	position: relative;
  color: white;
}

.image-menu{
  padding-right: 50px;
}

.share{
	vertical-align: top;
  color: white;
  border-left: 1px solid #2f2f2f;
}

.first-menu:hover{
	background: linear-gradient(to top, #222, #000);
}

#list-top li:hover ul{
	visibility: visible;
}

#submenu
{
	list-style: none;
	list-style-type: none;
	visibility: hidden;
	border: 1px solid black;
	position: absolute;
	margin-top: 30px;
	margin-left: -101px;
	width: 220px;
	box-shadow: 6px 6px 0 rgba(0,0,0,.2);
	background-color: white;
  z-index: 2;
}

.icon{
	height: 20px;
	width: 20px;
	border-right: 1px solid #e7e7e7;
	padding: 10px;
	display: inline-block;
	float: left;
}

.label{
	margin-top: 10px;
	font-family: 'Montserrat';
	text-transform: uppercase;
	display: inline-block;
	text-align: left;
}

.label:hover{
	color: #e76049;
}

.list-link{
	list-style-type: none;
	list-style: none;
	color: black;
	text-decoration: none;
	display: inline-block;
	width: 180px;
	border-bottom: 1px solid #e7e7e7;
	margin-left: -40px;
}

.list-link:focus, .list-link:active, .list-link:hover{
	color: #e76049;
	list-style-type: none;
	list-style: none;
}

.list-link:visited{
	color: black;
}

.a-menu{
  text-decoration: none;
  color: white;

}
